<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Available Hotels</h1>
    <ul>
        <% hotels.forEach(hotel => { %>
            <li>
                <strong><%= hotel.name %></strong> - <%= hotel.location %> 
                (<%= hotel.rooms %> rooms available)
                <a href="/book/<%= hotel._id %>">Book Now</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
